@model Tp2.Models.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codeF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.codeM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
